$mainColor: #24BA9D;
$borderColor: #D4D4D4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

body i {
    font-family: 'FontAwesome' !important;
}

header {
    background-color: black;
    height: 40px;
    h3 {
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 40px;
        span {
            color: $mainColor;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    ul {
        display: flex;
        list-style-type: none;
        line-height: 40px;
        margin-left: auto;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
        }
        li {
            cursor: pointer;
            width: 130px;
            border-radius: 3px;
            &:hover {
                background-color: $mainColor;
            }
        }
        ol {
            background-color: black;
            border-radius: 3px;
            list-style-type: none;
            position: absolute;
            text-transform: none;
            display: none;
        }
    }
}

.sectionOne {
    height: 500px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 59%, rgba(226, 226, 226, 1) 72%, rgba(225, 225, 225, 1) 73%, rgba(209, 209, 209, 1) 99%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(59%, rgba(231, 231, 231, 1)), color-stop(72%, rgba(226, 226, 226, 1)), color-stop(73%, rgba(225, 225, 225, 1)), color-stop(99%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 59%, rgba(226, 226, 226, 1) 72%, rgba(225, 225, 225, 1) 73%, rgba(209, 209, 209, 1) 99%, rgba(254, 254, 254, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 59%, rgba(226, 226, 226, 1) 72%, rgba(225, 225, 225, 1) 73%, rgba(209, 209, 209, 1) 99%, rgba(254, 254, 254, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 59%, rgba(226, 226, 226, 1) 72%, rgba(225, 225, 225, 1) 73%, rgba(209, 209, 209, 1) 99%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 59%, rgba(226, 226, 226, 1) 72%, rgba(225, 225, 225, 1) 73%, rgba(209, 209, 209, 1) 99%, rgba(254, 254, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe', GradientType=0);
}

.arrowLeft,
.arrowRight {
    font-size: 60px;
    line-height: 500px;
    a {
        color: $mainColor;
        &:hover {
            color: black;
        }
    }
}

section {
    display: flex;
}

.chairs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 130px 0 40px 0;
        text-transform: uppercase;
        font-size: 40px;
        span {
            color: $mainColor;
        }
    }
    p {
        padding: 0 80px 30px;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: $mainColor;
        width: 230px;
        height: 45px;
        border-radius: 5px;
        &:hover {
            background-color: black;
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.sectionTwo {
    background-color: white;
    height: 350px;

    section {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .border {
        width: 145px;
        height: 7px;
        background-color: #24BA9D;
        margin-left: 20px;
    }

    .chairClair,
    .chairMargarita {
        cursor: pointer;
        background-size: cover;
        width: 375px;
        height: 250px;
        border: 1px solid $borderColor;
    }

    .text {
        width: 375px;
        height: 275px;
        border: 1px solid $borderColor;
    }

    .chairClair {
        background-image: url('../images/box1_img.jpg');

    }

    .chairMargarita {
        background-image: url('../images/box2_img.jpg');

    }


}

.opacity {
    margin-top: 175px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 375px;
    height: 60px;
    font-weight: 700;
    p {
        padding-top: 10px;
        line-height: 25px;
        margin-left: 20px;
    }
}

.text {
    padding-top: 20px;
    h3 {
        padding: 0 0 3px 20px;
    }
    p {
        padding: 20px 20px 0;
        text-align: justify;
        margin-right: 25px;
        font-size: 14px;
        line-height: 25px;
    }
}


.sectionThree {
    background-color: #f1f1f1;
    height: 700px;
    section {
        display: flex;
        flex-direction: column;
        .priceList {
            h3 {
                font-weight: 400;
                text-transform: uppercase;
                margin: 25px 0 5px;
            }
            .border {
                width: 375px;
                height: 7px;
                background-color: #24BA9D;
            }
        }
    }
    .boxes {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box1,
    .box2,
    .box3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        width: 375px;
        background: #F9F9F9;
        border: 2px solid #D4D4D4;
        margin-top: 80px;

        ul {
            list-style-type: none;
            text-align: center;
            margin-top: 50px;
            background-color: red;
            width: 100%;

            li {
                padding: 10px;
                &:nth-child(2n) {
                    background-color: #f2f0f2;
                    color: #949294;
                }
                &:nth-child(2n - 1) {
                    background-color: #e5e3e5;
                    color: #949294;
                }
            }
        }

        .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 2px solid #D4D4D4;
            position: absolute;
            border-radius: 50%;
            background: white;
            position: relative;
            top: -40px;

            .dot {
                border-radius: 50%;
                height: 30px;
                width: 30px;
                background: #D4D4D4;
                position: absolute;
            }
        }
        h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 20px;
            color: $mainColor;
        }

        .priceCircle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            border: 2px solid #D4D4D4;
            color: #c2c0c2;
            border-radius: 50%;
            margin-top: 20px;
        }
    }
    .box1,
    .box2,
    .box3 {
        .msc {
            font-size: 14px;
        }
        .join {
            text-transform: uppercase;
            color: white;
            background-color: #24BA9D;
            width: 120px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
        }
        &:hover {
            cursor: pointer;
            background-color: $mainColor;
            border: 2px solid $mainColor;
            .circle {
                background-color: $mainColor;
                border: 2px solid $mainColor;
            }
            .dot {
                background-color: white;
            }
            h3 {
                color: white;
            }
            .join {
                background-color: white;
                color: $mainColor;
            }
            .priceCircle {
                background-color: white;
                color: $mainColor;
            }
        }
    }
    .box1 .join {
        margin-top: 125px;
    }
    .box2 .join {
        margin-top: 85px;
    }
    .box3 .join {
        margin-top: 45px;
    }
}

.sectionFour {}

.sectionFive {
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    .contact {
        width: 780px;
        h3 {
            text-transform: uppercase;
            font-weight: 400;
            margin: 25px 0 5px;
        }
        .border {
            width: 375px;
            height: 7px;
            background-color: #24BA9D;
        }
        form {
            input,
            textarea {
                width: 702px;
                height: 60px;
                margin: 10px 0;
                padding: 10px;
                border: 1px solid #c0e3dc;
                color: #dad8da;
                font-size: 30px;
                font-family: 'Raleway', sans-serif;
            }
            textarea {
                height: 200px;
                resize: none;
            }
        }
        form input:focus,
        textarea:focus {
            outline: none;
            border: 2px solid #24BA9D;
        }
    }
    .rightSide {
        width: 420px;
        height: 100%;

        .button {
            border-radius: 5px;
            background-color: #24BA9D;
            text-align: center;
            line-height: 65px;
            width: 320px;
            height: 65px;
            font-weight: 700;
            font-size: 26px;
            text-transform: uppercase;
            margin-top: 40px;
            color: white;
            cursor: pointer;
            &:hover {
                background-color: black;
            }
        }

        img {
            margin: 50px 78px 20px;
        }
        .checkbox {
            position: relative;
            padding: 0 10px 30px 70px;
        }
        .checkbox input {
            display: block;
            opacity: 0;
            height: 48px;
            position: absolute;
            width: 48px;
            cursor: pointer;
        }

        .checkbox label {
            display: block;
            padding-left: 65px;
            position: relative;
            font-size: 18px;
            color: #cecece;
            line-height: 120%;
            cursor: pointer;
            padding-top: 5px;
        }

        .checkbox label::before,
        .checkbox label::after {
            border: 1px solid #27c7ab;
            content: "";
            display: block;
            left: 0;
            height: 48px;
            position: absolute;
            width: 48px;
            top: 0;
        }
        .checkbox label::after {
            background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
            border: 0;
            display: none;
        }

        .checkbox input:checked + label::after {
            display: block;
        }

    }
}

footer {
    .left {
        width: 702px;
        padding: 10px 0;
        color: #b7b5b7;
    }
    .social {
        padding-top: 5px;
        margin-left: 145px;
        a {

            padding-right: 5px;
        }
    }
    .last {
        padding: 10px 0;
        margin-left: 60px;
        color: #b7b5b7;
        text-transform: uppercase;

    }

}

.box1,
.box2 {
    .price span:first-child {
        font-size: 35px;
    }

    .price span:nth-child(2) {
        font-size: 35px;
    }

    .price sup {
        font-size: 11px;
        vertical-align: top;
    }
}

.box3 {
    .price {
        font-size: 25px;
    }
}

.hide {
    display: none;
}

.sectionFour {
    background-color: #f9f9f9;
    height: 500px;
    display: flex;
    .part1,
    .part2,
    .part3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 450px;
        width: 375px;
        background: #F9F9F9;
        border: 2px solid #D4D4D4;
        margin-top: 25px;
    }
}

.application {
    background-color: #f9f9f9;
    padding: 30px 0;
}

.application h3 {
    color: #575757;
    font-size: 18px;
}

.application header.align_right {
    text-align: right;
}


.inline {
    display: inline-block;
    width: 300px;
    padding: 14px;
    vertical-align: top;
}


.form {
    margin-top: 50px;
}

.drop_down_list {
    border: 1px solid #8de0d2;
    width: 280px;
    height: 38px;
    background-color: white;
    margin-top: 22px;
    padding: 8px 12px;
    position: relative;
}

.list_label {
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}

.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}

.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}


.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}

.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}

.image_part img {
    margin-top: 110px;
    margin-left: 38px;
}


.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 6px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.summary_panel {
    background-color: white;
    width: 100%;
    height: 195px;
    padding: 10px;
    margin-top: 50px;

}

.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}

.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left: 1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4,
.panel_right h4 {
    color: #24baa0;
    font-size: 23px;
}

.panel_left span {
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top: 10px;
}

.sum_label {
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display: block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display: none;
}

.list_panel li {
    margin-top: 10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}
